body {
  background-image: url("wanaka.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  font-family: 'Sintony', sans-serif;
  background-color: black;
  color: white;

}

.content{
  font-size: 40px;
  font-weight: 600;
  margin-top: 5%;
  color: black;
  font-family: 'Sintony', sans-serif;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
              
}

#logo {
  color: white;
  padding-right: 10px;
}

html{
  height: 100%;
}
