.nav {
  font-family: 'Sintony', sans-serif;
  background-color: white;
  color: black;
}

#logo {
  color: white;
  padding-right: 10px;
}

#insta, #face, #git {
  padding-right: 25px;
}

h1 {
  text-align: center;
  font-family: 'Sintony', sans-serif;
  color: black;
  padding: 20px;
}

body {
    background: black;
    font-family: font-family: 'Sintony', sans-serif;
}

.blurb h2 {
   color: black;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: black;
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-bottom: 100px;

}

span{
  font-size: .82rem;
}

#background {
  background: #FFFFFF;  /* fallback for old browsers */
}

.blurb h2 {
    font-size: 2rem;
}

.small {
  font-size : 11px;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}
#mac {
height: 500px;
}

#navbar {
  padding: .5rem 5rem 2.5rem 1rem;
}

#laptop {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
